.endocrine-lab__paragraph {
    margin: 0;
    font-family: 'PT Sans Caption', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #364844;
}

.endocrine-lab__paragraph .gray-text {
    margin-left: 16px;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: line-through;
    color: #868686;
}

@media screen and (max-width: 767px) {
    .endocrine-lab__paragraph {
        font-size: 18px;
        line-height: 23px;
    }

    .endocrine-lab__paragraph .gray-text {
        font-size: 14px;
        line-height: 18px;
    }
}

